<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerfiles">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Watcharin is a professor in the Information Technology Division at Maejo University located in Chiangmai, Thailand. With extensive experience in his field, he has dedicated his research to several major areas of interest and expertise, including Supervised Learning, Neural Networks, Artificial Intelligence, Object Recognition, the Internet of Things, and Embedded Systems.">
    <meta name="keywords" content="Watcharin Sarachai, Information Technology, Maejo University, Image Processing, Classification, Machine Learning">
    <meta name="author" content="Watcharin Sarachai">
    <title th:text="#{page.title}"></title>
    <link th:href="@{/assets/css/styles.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</th:block>
<th:block th:fragment="headerfiles-course-management">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Watcharin is a professor in the Information Technology Division at Maejo University located in Chiangmai, Thailand. With extensive experience in his field, he has dedicated his research to several major areas of interest and expertise, including Supervised Learning, Neural Networks, Artificial Intelligence, Object Recognition, the Internet of Things, and Embedded Systems.">
    <meta name="keywords" content="Watcharin Sarachai, Information Technology, Maejo University, Image Processing, Classification, Machine Learning">
    <meta name="author" content="Watcharin Sarachai">
    <title th:text="#{page.title}"></title>
    <link th:href="@{/assets/css/styles.css}" rel="stylesheet">
    <link th:href="@{/assets/css/course-management-styles.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</th:block>
<body>
<th:block th:fragment="header">

    <form th:action="@{/logout}" method="POST" name="frmLogout"></form>

    <!-- Top bar -->
    <div id="top-bar-wrap" class="clearfix">
        <div id="top-bar" class="clearfix container">
            <div id="top-bar-inner" class="clearfix">
                <div id="top-bar-content" class="clearfix top-bar-left">
                <span class="topbar-content">
                  <i class="fa-solid fa-phone"></i> 053-873901 &nbsp;
                  <i class="fa-solid fa-envelope"></i> watcharin_s@mju.ac.th
                </span>
                </div>
                <div id="top-bar-social" class="clearfix top-bar-right">
                    <ul class="clr">
                        <li>
                            <a href="https://www.facebook.com/wsarachai" target="_blank">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/watcharin-sarachai-223b0a8a/">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/wsarachai">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Top bar -->

    <!-- Header section -->
    <header id="site-header">
        <div id="site-header-inner" class="clearfix container">
            <div id="site-logo" class="clearfix">
                <canvas id="clock" width="74" height="74">
                    Sorry, your browser does not support canvas.
                </canvas>
                <div id="site-logo-inner" class="clearfix">
                    <span class="site-title site-logo-text" th:text="#{page.title}"></span>
                </div>
            </div>
            <div id="site-navigator-warp" class="clearfix">
                <nav id="site-navigator" class="navigator clearfix">
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/}"><i class="fa-solid fa-house"></i> <span th:text="#{page.home}"/></a></li>
                        <li><a href="https://itsci.mju.ac.th/~watcharin"><i class="fa-solid fa-blog"></i> <span th:text="#{page.link.study}"></span></a></li>
                        <li><a href="https://itsci.mju.ac.th" target="_blank"><i class="fa-solid fa-user-graduate"></i></i> <span th:text="#{page.home.itsci}"></span></a></li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="#user" class="dropbtn"><i class="fa-solid fa-user"></i> <span th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
                            <ul class="sub-menu">
                                <li><a th:href="@{/member/profile}" th:text="#{page.home.profile}" th:unless="${session == null}"></a></li>
                                <li sec:authorize="hasAnyRole('ROLE_TEACHER','ROLE_ADMIN')"><a th:href="@{/system/student/import}" th:text="#{page.student.import}"></a></li>
                                <li sec:authorize="hasAnyRole('ROLE_TEACHER','ROLE_ADMIN')"><a th:href="@{/admin/course-management}" th:text="#{page.course.manage}"></a></li>
                                <li sec:authorize="hasAnyRole('ROLE_TEACHER','ROLE_ADMIN')"><a th:href="@{/system/subject}" th:text="#{page.menu.subject}"></a></li>
                                <li><a th:href="@{/member/change-password}" th:text="#{page.home.settings.changepassword}"></a></li>
                            </ul>
                        </li>
                        <li sec:authorize="!isAuthenticated()" ><a th:href="@{/login}"><i class="fas fa-sign-in-alt"></i> <span th:text="#{page.login}"></span></a></li>
                        <li sec:authorize="isAuthenticated()"><a href="#" onclick="javascript: frmLogout.submit();"><i class="fas fa-sign-out-alt"></i> <span th:text="#{page.login.logout}"></span></a></li>
                    </ul>
                </nav>
            </div>
            <div id="drop-btn" class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <!-- End of Header section -->

</th:block>

<th:block th:fragment="footer">
    <div><i class="fa fa-calendar"></i> <span id="current-date"></span></div>
    <div>&copy; 2024 <span th:text="#{page.author}"></span>, <span th:text="#{page.footer}"></span></div>
</th:block>

<th:block th:fragment="scriptfiles">
    <script th:src="@{'/assets/js/main.js'}"></script>
    <script th:src="@{'/assets/js/clock.js'}"></script>
    <script th:inline="javascript"> var _ctx = /*[[@{/}]]*/ ''; </script>
</th:block>
</body>
</html>