<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Watcharin is a professor in the Information Technology Division at Maejo University located in Chiangmai, Thailand. With extensive experience in his field, he has dedicated his research to several major areas of interest and expertise, including Supervised Learning, Neural Networks, Artificial Intelligence, Object Recognition, the Internet of Things, and Embedded Systems.">
    <meta name="keywords" content="Watcharin Sarachai, Information Technology, Maejo University, Image Processing, Classification, Machine Learning">
    <meta name="author" content="Watcharin Sarachai">
    <title th:text="#{page.title}"></title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/styles.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>
<body>
<header th:fragment="header">
    <form th:action="@{/logout}" method="POST" name="frmLogout"></form>
    <div class="fixed-header" th:text="#{page.title}"></div>
</header>
<p>Go to the next page to see fragments in action</p>
<aside>
    <div>This is a sidebar</div>
</aside>
<div class="another">This is another sidebar</div>
<footer class="fixed-footer" th:fragment="footer">
    <div>&copy; 2024 <span th:text="#{page.author}"></span>, <span th:text="#{page.footer}"></span></div>
    <div>
        <ul class="footer-menu">
            <li><a href="https://itsci.mju.ac.th/~watcharin" target="_blank"><i class="fa-solid fa-blog"></i> <span th:text="#{page.link.blog}"></span></a></li>
            <li sec:authorize="!isAuthenticated()" class="separator">|</li>
            <li sec:authorize="!isAuthenticated()" ><a th:href="@{/login}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
            <li sec:authorize="isAuthenticated()" class="separator">|</li>
            <li sec:authorize="isAuthenticated()"><a href="#" onclick="javascript: frmLogout.submit();"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            <li sec:authorize="hasAnyRole('ROLE_TEACHER','ROLE_ADMIN')" class="separator">|</li>
            <li sec:authorize="hasAnyRole('ROLE_TEACHER','ROLE_ADMIN')"><a th:href="@{system/student/import}" th:text="#{page.student.import}"></a></li>
<!--            <li><a href="#register"><i class="fas fa-user-plus"></i> Register</a></li>-->
        </ul>
    </div>
</footer>
<div th:fragment="scriptfiles">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type='text/javascript' th:src="@{'/assets/js/libs/popper.min.js'}"></script>
    <script type='text/javascript' th:src="@{'/assets/js/libs/bootstrap.min.js'}"></script>
    <script type='text/javascript' th:src="@{'/assets/js/scripts.js'}"></script>
    <script th:inline="javascript"> var _ctx = /*[[@{/}]]*/ ''; </script>
</div>
</body>
</html>