<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layouts/general :: headerfiles}"></head>
<body>
<header th:insert="~{layouts/general :: header}"></header>
    <main class="flex-container">
        <div>
            <h2><i class="fa-solid fa-file-import"></i> <span th:text="#{page.student.import}"></span></h2>
            <button onClick="history_back()" class="basic" th:text="#{page.navigate.back}"></button>
        </div>
        <section class="import-items-container">
            <div class="card">
                <div class="course-header">
                    <p th:text="#{page.student.browse}"></p>
                </div>
                <div class="card-body">
                    <div class="flex-container-column">
                        <div class="flex-container-row">
                            <form id="uploadForm" method="post" th:action="@{/system/student/upload}" enctype="multipart/form-data"
                                  class="col-12 form-horizontal">
                                <input id="input-file" type="file" name="file" style="display: none"/>
                                <input class="basic" type="button" id="choose_file_btn" th:value="#{page.student.choose_file}"/>
                                <button class="basic" type="submit">
                                    <span th:text="#{page.btn.Upload}"></span>
                                </button>
    <!--                            <label><input type="checkbox" name="read_header"/> Read header</label>-->
                                <p id="file-info"></p>
                            </form>
                        </div>
                        <div class="flex-container-row" th:if="${message != null}">
                            <div class="alert-danger" role="alert">
                                [[${message}]]
                                <button class="basic" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="fixed-footer" th:insert="~{layouts/general.html :: footer}"></footer>
    <script type='text/javascript' th:replace="~{layouts/general.html :: scriptfiles}"></script>
    <script th:src="@{/assets/js/file-upload.js}"></script>
</body>

</html>