<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <title th:text="#{page.title}"></title>
</head>
<body>
    <header>
        <h1 th:text="#{page.title}"></h1>
    </header>
    <main id="main-container">
        <section>
            <p class="title" th:text="#{page.student.import}"></p>
            <div class="flex-container">
                <div class="card">
                    <div class="card-header">
                        <p th:text="#{page.student.browse}"></p>
                    </div>
                    <div class="card-body">
                        <div class="flex-container-column">
                            <div class="flex-container-row">
                                <form id="uploadForm" method="post" th:action="@{/system/student/upload}" enctype="multipart/form-data">
                                    <input id="input-file" type="file" name="file" style="display: none"/>
                                    <input type="button" id="choose_file_btn" th:value="#{page.student.choose_file}"/>
                                    <button class="btn btn-sm btn-outline-success float-right" type="submit">
                                        Upload
                                    </button>
                                    <label><input type="checkbox" name="read_header"/> Read header</label>
                                    <h4 id="file-info"></h4>
                                </form>
                            </div>
                            <div class="flex-container-row">
                                <div th:if="${message != null}"
                                     class="alert alert-secondary alert-dismissible fade show text-center message mt-3"
                                     role="alert">
                                    [[${message}]]
                                    <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 <span th:text="#{page.author}"></span></p>
    </footer>
    <script th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/file-upload/main.js}"></script>
</body>

</html>