<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layouts/general :: headerfiles}"></head>
<body>
    <header th:insert="~{layouts/general :: header}"></header>
    <main class="flex-container">
        <h2><i class="fa-solid fa-key"></i> <span th:text="#{page.home.settings.changepassword}"></span></h2>
        <div class="nav-div">
            <button onClick="history_back()" class="basic" th:text="#{page.navigate.back}"></button>
        </div>
        <section class="flex-container-column">
            <div class="form-container">
                <!-- Place for messages: error, alert etc ... -->
                <div class="form-group">
                    <div th:if="${param.error != null}"
                         th:text="${param.error}"
                         class="alert alert-danger col-xs-offset-1 col-xs-10"></div>
                    <div th:if="${param.success != null}"
                         th:text="${param.success}"
                         class="alert alert-success col-xs-offset-1 col-xs-10"></div>
                </div>
                <!-- Login Form -->
                <form th:action="@{/member/change-password}"
                      th:object="${member}"
                      th:method="post">
                    <!-- User name -->
                    <div class="form-group">
                        <label th:for="${#ids.next('username')}" th:text="#{bean.user.username}"></label>
                        <input type="text" th:field="*{username}" readonly="readonly">
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <label th:for="${#ids.next('password')}" th:text="#{bean.user.password}"></label>
                        <input type="password" th:field="*{password}" required>
                    </div>
                    <!-- New password -->
                    <div class="form-group">
                        <label th:for="${#ids.next('newPassword')}" th:text="#{bean.user.newpassword}"></label>
                        <input type="password" th:field="*{newPassword}" required>
                    </div>
                    <!-- Confirm password -->
                    <div class="form-group">
                        <label for="confirmPassword" th:text="#{bean.user.passwordconfirm}"></label>
                        <input type="password" id="confirmPassword" th:field="*{confirmPassword}">
                    </div>
                    <!-- Login/Submit Button -->
                    <button type="submit" class="danger" th:text="#{page.btn.save}"></button>
                </form>
            </div>
        </section>
    </main>
    <footer class="fixed-footer" th:insert="~{layouts/general.html :: footer}"></footer>
    <script type='text/javascript' th:replace="~{layouts/general.html :: scriptfiles}"></script>
</body>
</html>
