<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layouts/general :: headerfiles}"></head>
<body>
<header th:insert="~{layouts/general :: header}"></header>
    <main class="container course-container">
        <h1 style="text-align:center">Access Denied</h1>
        <hr>
        <div class="container">
            <h2 style="text-align: center;" th:text="#{page.access-denied.title}"></h2>
            <div style="text-align:center">
                <a th:href="@{/}" th:text="#{page.access-denied.back}"></a>
            </div>
        </div>
    </main>
    <footer class="fixed-footer" th:insert="~{layouts/general.html :: footer}"></footer>
    <script type='text/javascript' th:replace="~{layouts/general.html :: scriptfiles}"></script>
</body>
</html>
