<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" th:href="@{assets/css/main.css}">
    <title th:text="#{page.title}"></title>
</head>
<body>
    <header>
        <h1 th:text="#{page.title}"></h1>
    </header>
    <main id="main-container">
        <section>
            <p>
                <span class="title" th:text="#{page.home.title}"></span> <span class="person-name" th:text="${teacher_name}"></span></span>
            </p>
            <div class="flex-container">
                <div class="card" th:each="c : ${courses}">
                    <div class="card-header">
                        <p><span  th:text="${c.subject.getCode()}"/> <span  th:text="${c.subject.getThaiName()}"/></p>
                    </div>
                    <div class="card-body">
                        <div class="FlexContainer" th:each="cs : ${c.getSections()}">
                            <div th:text="${cs.getGroupNumber()}"></div>
                            <div>
                                <div class="data-cell" th:text="#{section.lec}"></div>
                                <div class="data-cell" th:text="${#messages.msgOrNull('day.' + cs.getLecDay())}"></div>
                                <div class="data-cell" th:inline="text">[[${cs.getStartLectureTime()}]]-[[${cs.getEndLectureTime()}]]</div>
                                <div class="data-cell" th:text="${cs.getLecRoom().getRoomId()}"></div>
                                <br>
                                <div class="data-cell" th:text="#{section.lab}"></div>
                                <div class="data-cell" th:text="${#messages.msgOrNull('day.' + cs.getLabDay())}"></div>
                                <div class="data-cell" th:inline="text">[[${cs.getStartLabTime()}]]-[[${cs.getEndLabTime()}]]</div>
                                <div class="data-cell" th:text="${cs.getLabRoom().getRoomId()}"></div>
                            </div>
                            <div>
                                <a th:href="@{'/pub/student/atten/' + ${c.getId()} + '/' + ${cs.getId()}}"><span th:text="#{page.home.signin}"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 <span th:text="#{page.author}"></span></p>
    </footer>
</body>

</html>