<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <title th:text="#{page.title}"></title>
</head>

<body>
    <header>
        <h1 th:text="#{page.title}"></h1>
    </header>
    <main id="main-container">
        <p class="title"><a th:href="@{'/'}" th:text="#{page.home}"></a>&nbsp;/&nbsp;<span th:text="#{page.student.login.title}"></span></p>
        <section class="flex-container-column">
            <div class="flex-container-row">
                <!-- Display course header of data table -->
                <div class="item1">
                    <p th:text="#{page.student.atten.subjects}">:</p>
                    <p th:text="#{page.student.atten.group}">:</p>
                    <p th:text="#{page.student.atten.semester}">:</p>
                </div>
                <!-- Display course header details of data table -->
                <div class="item2">
                    <p th:text="${course.getSubject().getCode() + ' ' + course.getSubject().getThaiName()}"></p>
                    <p th:text="${section.getGroupNumber()}"></p>
                    <p th:text="${course.getSemester()}"></p>
                </div>
            </div>
            <!-- Display 1-15 weeks links -->
            <div class="blueTable outerTableFooter">
                <div class="tableFootStyle">
                    <div class="links">
                        <a th:each="i : ${#numbers.sequence(0, 14)}" th:text="${i+1}"
                           th:classappend="${displayWeek == i} ? 'active': ''"
                           th:href="@{'/pub/student/atten/'+${courseId}+'/'+${secionId}+'/'+${i}}"></a>
                    </div>
                    <div class="dif-ref">
                        <img th:src="@{/assets/images/na.png}"/> <span th:text="#{page.student.atten.na}"></span>
                        <span>&nbsp;|&nbsp;</span>
                        <img th:src="@{/assets/images/absent.png}"/> <span th:text="#{page.student.atten.absent}"></span>
                        <span>&nbsp;|&nbsp;</span>
                        <img th:src="@{/assets/images/late.png}"/> <span th:text="#{page.student.atten.late}"></span>
                        <span>&nbsp;|&nbsp;</span>
                        <img th:src="@{/assets/images/letters.png}"/> <span th:text="#{page.student.atten.letters}"></span>
                        <span>&nbsp;|&nbsp;</span>
                        <img th:src="@{/assets/images/atten.png}"/> <span th:text="#{page.student.atten.atten}"></span>
                    </div>
                </div>
            </div>
            <div class="divTable blueTable">
                <!-- Display Attendance header of data table -->
                <div class="divTableHeading">
                    <div class="divTableRow">
                        <div class="divTableHead" th:text="#{page.no}"></div>
                        <div class="divTableHead" th:text="#{page.student.code}"></div>
                        <div class="divTableHead" th:text="#{page.user.firstname}"></div>
                        <div class="divTableHead" th:text="#{page.student.atten.lec}"></div>
                        <div class="divTableHead" th:text="#{page.student.login.status}"></div>
                        <div class="divTableHead" th:text="#{page.student.atten.lab}"></div>
                        <div class="divTableHead" th:text="#{page.student.login.status}"></div>
                    </div>
                </div>
                <!-- Display Attendance data table -->
                <div class="divTableBody">
                    <div class="divTableRow" th:each="csReg, i : ${attenDatas}">
                        <div class="divTableCell" th:text="${i.index+1}"></div>
                        <div class="divTableCell" th:text="${csReg.getStudent().getStudentId()}"></div>
                        <div class="divTableCell" th:text="${csReg.getStudent().getPrename()+' '+csReg.getStudent().getFirstName()+' '+csReg.getStudent().getLastName()}"></div>
                        <div class="divTableCell">
                            <a th:if="${allowAtten}"
                               th:href="@{'/pub/student/atten/'+${courseId}+'/'+${secionId}+'/'+${csReg.getStudent().getId()}+'/lec/'+${currentWeek}}"
                               th:text="#{page.student.login.atten}"></a>
                        </div>
                        <div class="divTableCell" th:switch="${csReg.getAttenLec()[displayWeek]}">
                            <img th:case="0" th:src="@{/assets/images/na.png}"/>
                            <img th:case="1" th:src="@{/assets/images/absent.png}"/>
                            <img th:case="2" th:src="@{/assets/images/late.png}"/>
                            <img th:case="3" th:src="@{/assets/images/letters.png}"/>
                            <img th:case="4" th:src="@{/assets/images/atten.png}"/>
                        </div>
                        <div class="divTableCell">
                            <a th:if="${allowAtten}"
                               th:href="@{'/pub/student/atten/'+${courseId}+'/'+${secionId}+'/'+${csReg.getStudent().getId()}+'/lab/'+${currentWeek}}"
                               th:text="#{page.student.login.atten}"></a>
                        </div>
                        <div class="divTableCell" th:switch="${csReg.getAttenLab()[displayWeek]}">
                            <img th:case="0" th:src="@{/assets/images/na.png}"/>
                            <img th:case="1" th:src="@{/assets/images/absent.png}"/>
                            <img th:case="2" th:src="@{/assets/images/late.png}"/>
                            <img th:case="3" th:src="@{/assets/images/letters.png}"/>
                            <img th:case="4" th:src="@{/assets/images/atten.png}"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 <span th:text="#{page.author}"></span></p>
    </footer>
</body>

</html>