<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" th:href="@{assets/css/main.css}">
        <title th:text="#{page.title}"></title>
    </head>
<body>
<h1 th:text="#{page.home}"></h1>
</body>
</html>
