<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" th:href="@{/assets/css/main.css}">
        <title th:text="#{page.title}"></title>
    </head>

    <body>
        <header>
            <h1 th:text="#{page.title}"></h1>
        </header>
        <main id="main-container">
            <p class="title"><a th:href="@{'/'}" th:text="#{page.home}"></a>&nbsp;/&nbsp;<span th:text="#{page.student.login.title}"></span></p>
            <section class="flex-container-column">
                <div class="flex-container-row">
                    <div class="item1">
                        <p th:text="#{page.student.atten.subjects}">:</p>
                        <p th:text="#{page.student.atten.group}">:</p>
                        <p th:text="#{page.student.atten.semester}">:</p>
                        <p th:text="#{page.student.login.code}">:</p>
                        <p th:text="#{page.student.login.name}">:</p>
                        <p>Location: </p>
                    </div>
                    <div class="item2">
                        <p th:text="${course.getSubject().getCode() + ' ' + course.getSubject().getThaiName()}"></p>
                        <p th:text="${courseSection.getGroupNumber()}"></p>
                        <p th:text="${course.getSemester()}"></p>
                        <p th:text="${student.getStudentId()}"></p>
                        <p th:text="${student.getPrename()+' '+student.getFirstName()+' '+student.getLastName()}"></p>
                        <p id="location"></p>
                    </div>
                </div>
                <div class="flex-container-row">
                    <div class="item3">
                        <div class="wrapper">
                            <video></video>
                            <br />
                            <button id="newphoto">ถ่ายรูปนักศึกษา</button>
                        </div>
                    </div>
                    <div class="item4">
                        <div class="wrapper">
                            <canvas id="canvas1"></canvas>
                            <p>รูปนักศึกษา</p>
                        </div>
                        <div class="wrapper">
                            <canvas id="canvas2"></canvas>
                            <p>รูปอ้างอิง</p>
                        </div>
                    </div>
                </div>
                <div class="flex-container-row">
                    <div class="item5">
                        <button id="attbutton" disabled="disabled">ลงชื่อเข้าเรียน</button>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <p>&copy; 2024 <span th:text="${teacher_name}"></span></p>
        </footer>
        <script th:src="@{/assets/js/main.js}" type="text/javascript"></script>
    </body>

</html>