<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" th:href="@{/assets/css/main.css}">
        <title th:text="#{page.title}"></title>
    </head>

    <body>
        <header>
            <h1 th:text="#{page.title}"></h1>
        </header>
        <main id="main-container">
            <p class="title"><a th:href="@{'/'}" th:text="#{page.home}"></a>&nbsp;/&nbsp;<span th:text="#{page.student.login.title}"></span></p>
            <section class="flex-container-column">
                <div class="flex-container-row">
                    <div class="item1">
                        <p th:text="#{page.student.atten.subjects}">:</p>
                        <p th:text="#{page.student.atten.group}">:</p>
                        <p th:text="#{page.student.atten.semester}">:</p>
                        <p th:text="#{page.student.login.code}">:</p>
                        <p th:text="#{page.student.login.name}">:</p>
                        <p th:text="#{page.location}">: </p>
                        <p th:text="#{page.date}">:</p>
                        <p th:text="#{page.time}">:</p>
                    </div>
                    <div class="item2">
                        <p th:text="${course.getSubject().getCode() + ' ' + course.getSubject().getThaiName()}"></p>
                        <p th:text="${courseSection.getGroupNumber()}"></p>
                        <p th:text="${course.getSemester()}"></p>
                        <p th:text="${student.getStudentId()}"></p>
                        <p th:text="${student.getPrename()+' '+student.getFirstName()+' '+student.getLastName()}"></p>
                        <p id="location"></p>
                        <p id="currentDate"></p>
                        <p id="currentTime"></p>
                    </div>
                </div>
                <div class="flex-container-row">
                    <div class="item3">
                        <div class="wrapper">
                            <video></video>
                            <br />
                            <button id="newphoto"
                                    th:state1="#{page.student.takepicture.st1}"
                                    th:state2="#{page.student.takepicture.st2}"
                                    th:text="#{page.student.takepicture.st1}">
                            </button>
                        </div>
                    </div>
                    <div class="item4">
                        <div class="wrapper">
                            <canvas id="canvas1"></canvas>
                            <p th:text="#{page.student.takepicture.st1}"></p>
                        </div>
                        <div class="wrapper">
                            <canvas id="canvas2"></canvas>
                            <p th:text="#{page.student.takepicture.st2}"></p>
                        </div>
                    </div>
                </div>
                <div class="flex-container-row">
                    <div class="item5">
<!--                        <form method="post" th:action="@{/atten/doatten}" enctype="multipart/form-data">-->
<!--                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
<!--                            <input type="hidden" th:name="secionId" th:value="${secionId}">-->
<!--                            <input type="hidden" th:name="type" th:value="${type}">-->
<!--                            <input type="hidden" th:name="week" th:value="${week}">-->
<!--                            <input type="file" th:name="image1" accept="image/*" style="display: none">-->
<!--                            <input type="file" th:name="image2" accept="image/*" style="display: none">-->
<!--                            <button type="submit" id="attbutton" disabled="disabled" th:text="#{page.student.takepciture.btn}"></button>-->
<!--                        </form>-->
                        <form th:method="post" th:action="@{/atten/doatten}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                            <input type="hidden" th:name="secionId" th:value="${secionId}">
                            <input type="hidden" th:name="type" th:value="${type}">
                            <input type="hidden" th:name="week" th:value="${week}">
                            <button type="submit" id="attbutton" disabled="disabled" th:text="#{page.student.takepciture.btn}"></button>
                        </form>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <p>&copy; 2024 <span th:text="${teacher_name}"></span></p>
        </footer>
        <script th:src="@{/assets/js/main.js}" type="text/javascript"></script>
    </body>

</html>