<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layouts/general :: headerfiles}"></head>
<body>
    <header th:insert="~{layouts/general :: header}"></header>
    <main class="flex-container">
    <h2><i class="fa-solid fa-user"></i> <span th:text="#{page.student.profile}"></span></h2>
    <div class="nav-div">
        <button onClick="history_back()" class="basic" th:text="#{page.navigate.back}"></button>
    </div>
    <section class="flex-container-column">
        <div class="flex-container-row">
            <div class="item1">
                <p th:text="#{page.student.atten.subjects}">:</p>
                <p th:text="#{page.student.atten.group}">:</p>
                <p th:text="#{page.student.atten.semester}">:</p>
                <p th:text="#{page.student.code}">:</p>
                <p th:text="#{page.user.firstname}">:</p>
                <p th:text="#{page.location}">: </p>
            </div>
            <div class="item2" th:with="section=${enrollment.getSection()}">
                <p th:text="${section.getCourse().getSubject().getCode() + ' ' + section.getCourse().getSubject().getThaiName()}"></p>
                <p th:text="${section.getGroupNumber()}"></p>
                <p th:text="${section.getCourse().getSemester()}"></p>
                <p th:text="${enrollment.getStudent().getStudentId()}"></p>
                <p th:text="${enrollment.getStudent().getPrename()+' '+enrollment.getStudent().getFirstName()+' '+enrollment.getStudent().getLastName()}"></p>
                <p><span th:text="${attendance.getLatitude()}"></span>, <span th:text="${attendance.getLongitude()}"></span></p>
            </div>
        </div>
        <div class="flex-container-row">
            <div class="item4">
                <div class="wrapper">
                    <img th:if="${image1Url != null}" th:src="${image1Url}" alt="Your image" />
                    <span th:if="${image1Url == null}">-</span>
                </div>
                <div class="wrapper">
                    <img th:if="${image2Url != null}" th:src="${image2Url}" alt="Reference image" />
                    <span th:if="${image2Url == null}">-</span>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="fixed-footer" th:insert="~{layouts/general.html :: footer}"></footer>
<script type='text/javascript' th:replace="~{layouts/general.html :: scriptfiles}"></script>
</body>
</html>