/* Add here all your CSS customizations */
@media screen and (min-width: 800px) {
	#modal_qtp .modal-dialog  {width:80%;}
	#modal_selenium .modal-dialog  {width:80%;}
	#modal_programming .modal-dialog  {width:80%;}
	#modal_testing .modal-dialog  {width:80%;}
	#modal_jmeter .modal-dialog  {width:80%;}
	#modal_appium .modal-dialog  {width:80%;}
	#modal_bugzilla .modal-dialog  {width:80%;}
	#modal_english .modal-dialog  {width:80%;}
	
	#modal_0 .modal-dialog  {width:80%;}
	#modal_1 .modal-dialog  {width:80%;}
	#modal_2 .modal-dialog  {width:80%;}
	#modal_3 .modal-dialog  {width:80%;}
	#modal_4 .modal-dialog  {width:80%;}
	#modal_5 .modal-dialog  {width:80%;}
	#modal_6 .modal-dialog  {width:80%;}
	#modal_7 .modal-dialog  {width:80%;}
	#modal_8 .modal-dialog  {width:80%;}
	#modal_9 .modal-dialog  {width:80%;}
	#modal_10 .modal-dialog  {width:80%;}
}


/* REQUIRED For Alert Message */
.page-alerts {
    margin-bottom: 20px;
}

.page-alerts .page-alert {
    border-radius: 0;
    margin-bottom: 0;
}
/* End REQUIRED For Alert Message */

/* Message in UserIndex.jsp page (Permission:Tranee Unregister) */
.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}
.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success
{
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4
{
    color: #3C763D;
}
.alert-message-danger
{
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4
{
    color: #d9534f;
}
.alert-message-warning
{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4
{
    color: #f0ad4e;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
.alert-message-default
{
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4
{
    color: #000;
}
.alert-message-notice
{
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4
{
    color: #444;
}
/* End Message in UserIndex.jsp page (Permission:Tranee Unregister) */

/* CSS Calendar on top Modal */
/* #ui-datepicker-div {z-index:9999 !important;} */
.ui-datepicker {z-index:9999 !important;}

.text-red {
    color: #B20102;
}

.text-lf-vt {
    text-align: left;
    vertical-align: top;
}

#itsci-logo {
    width: 100%;
    border: 0;
    cellspacing: 0px;
    cellpadding: 0px;
}


#itsci-logo table td {
    background-color: #FFFFFF;
    padding-left: 50px;
}