html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col:after,
.clearfix:after,
.group:after,
dl:after,
.left_float:after,
.right_float:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    zoom: 1;
    height: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    width: 100%;
}

h2 {
    font-size: 1.3em;
    margin: 0.67em 0;
    width: 100%;
}

div {
    display: block;
    unicode-bidi: isolate;
}

nav {
    display: block;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

#warp {
    position: relative;
}

#top-bar-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    color: #ffffff;
    background-color: #1D1C3F;
    border-color: rgba(241, 241, 241, 0);
    font-size: 12px;
    border-bottom: 1px solid #f1f1f1;
    z-index: 101;
}

#top-bar {
    padding: 8px 0;
}

#top-bar-inner {
    position: relative;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

#top-bar-warp,
#top-bar-content {
    color: #ffffff;
}

#top-bar-social.top-bar-right {
    position: absolute;
    right: 0;
    top: 50%;
    height: 20px;
    margin-top: -6px;
}

#top-bar-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#top-bar-social li {
    float: left;
}

#top-bar-social li a {
    display: block;
    float: left;
    font-size: 14px;
    color: #bbb;
    padding: 0 6px;
}

@media only screen and (max-width: 959px) {
    .container {
        max-width: 90%;
    }
}

#site-header {
    position: fixed;
    top: 32px;
    width: 100%;
    background-color: #26263F;
}

#site-header-inner {
    position: relative;
}

#site-logo {
    float: left;
    height: 100%;
    display: table;
}

#site-logo #site-logo-inner {
    display: table-cell;
    vertical-align: middle;
    height: 74px;
}

#site-logo #site-logo-inner a {
    background-color: rgba(0, 0, 0, 0) !important;
}

#site-logo #site-logo-inner a img {
    width: auto;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#site-logo #site-logo-inner a:hover img {
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    opacity: 0.6;
}

#site-logo a.site-logo-text {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}

#site-navigation-wrap {
    float: none;
    right: auto !important;
    left: -15px;
}

#site-navigator-warp .navigator {
    display: block;
    position: absolute;
    right: 0;
}

#site-navigator-warp .navigator .dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#site-navigator-warp .navigator .dropdown-menu > li {
    float: left;
    position: relative;
}

#site-navigator-warp .navigator .dropdown-menu > li > a {
    display: block;
    color: #ffffff;
    padding: 0 14px;
    font-size: 16px;
    line-height: 74px;
    letter-spacing: 0.6px;
}

#site-navigator-warp .navigator .dropdown-menu > li > a:hover {
    background-color: #000000;
}

ul.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #1d1c3f;
    width: 200px;
    padding: 0px;
    margin: 1px;
    list-style: none;
}

ul.sub-menu li > a {
    color: #ffffff;
    display: block;
    padding: 10px;
}

#site-navigator-warp .navigator .dropdown-menu > li:hover ul.sub-menu {
    display: block;
}

#site-navigator-warp .navigator .dropdown-menu > li ul.sub-menu > li:hover {
    background-color: #474747;
}

.menu-toggle {
    position: absolute;
    display: none;
    flex-direction: column;
    cursor: pointer;
    top: 0;
    right: 0;
    margin-top: 20px;
}

.menu-toggle span {
    background-color: white;
    height: 3px;
    margin: 4px;
    width: 25px;
}

@media screen and (min-width: 960px) {
    #site-navigator-warp .navigator {
        display: block;
    }
}

@media screen and (max-width: 960px) {
    .dropdown-menu li a > span {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #site-navigator-warp .navigator {
        display: none;
    }

    .dropdown-menu li a > span {
        display: inline-block;
    }

    .menu-toggle {
        position: absolute;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        top: 0;
        right: 0;
        margin-top: 20px;
    }

    #site-navigator-warp .navigator {
        margin-top: 75px;
    }

    #site-navigator-warp .navigator .dropdown-menu > li {
        float: none;
        position: relative;
    }

    #site-navigator-warp .navigator .dropdown-menu > li > a {
        line-height: 40px;
        width: 200px;
    }

    ul.sub-menu {
        left: -40px;
        background-color: #1D1C3F;
    }

    #site-navigator-warp .navigator .dropdown-menu > li ul.sub-menu > li:hover {
        background-color: #474747;
    }
}

.flex-container {
    width: 1200px;
    max-width: 90%;
    margin: 106px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Adjust alignment as needed */
}

.flex-container .item {
    flex: 1 1 calc(25% - 20px); /* Adjust based on margin/padding */
    margin: 0px; /* Adjust margin between items */
    background-color: #f0f0f0;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.form-container {
    width: 100%;;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.course-flex-container {
    width: 1200px;
    max-width: 90%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Adjust alignment as needed */
}

#course-container {
    width: 100%;
    margin: 20px auto 50px auto;
}

#course-desc {
    flex: 1 1 calc(25% - 20px); /* Adjust based on margin/padding */
    margin: 0px; /* Adjust margin between items */
    background-color: #f0f0f0;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.course-header {
    background-color: #230855;
    color: white;
    padding: 10px;
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.course-detail-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.course-detail-header {
    flex-basis: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.fixed-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 1.0rem;
    background-color: #1D1C3F;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    background-color: #bbdefb;
    height: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 70px;
}

.flex-container-column > div {
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}

.flex-container-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;
}

.flex-container-row > div {
    background: #fff;
    border-radius: 5px;
    padding: 8px;
}

.flex-container-row .item1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    align-self: auto;
}

.flex-container-row .item1 > p {
    padding: 8px;
    margin: 0px;
    min-height: 22px;
}

.flex-container-row .item2 {
    flex-grow: 4;
    align-self: auto;
}

.flex-container-row .item2 > p {
    padding: 8px;
    margin: 0px;
    min-height: 22px;
}

.flex-container-row .item3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: auto;
}

.flex-container-row .item4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-grow: 2;
    align-self: auto;
}
div.blueTable {
    background-color: #eeeeee;
    text-align: left;
    border-collapse: collapse;
}
.divTable.blueTable .divTableCell,
.divTable.blueTable .divTableHead {
    border: 1px solid #aaaaaa;
    padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
    font-size: 13px;
}
.divTable.blueTable .divTableRow:nth-child(even) {
    background: #d0e4f5;
}
.divTable.blueTable .divTableHeading {
    background: #1c6ea4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
    background: -webkit-linear-gradient(
            top,
            #5592bb 0%,
            #327cad 66%,
            #1c6ea4 100%
    );
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
    border-bottom: 2px solid #444444;
}
.divTable.blueTable .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    border-left: 2px solid #d0e4f5;
}
.divTable.blueTable .divTableHeading .divTableHead:first-child {
    border-left: none;
}

.blueTable .tableFootStyle {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.blueTable .tableFootStyle {
    font-size: 14px;
}

.blueTable .tableFootStyle .links {
    text-align: right;
}

.blueTable .tableFootStyle .links a {
    display: inline-block;
    background: #1c6ea4;
    color: #ffffff;
    padding: 2px 8px;
    margin: 3px;
    border-radius: 5px;
}

.blueTable .tableFootStyle .links .active {
    background-color: darkgoldenrod;
}

.blueTable .tableFootStyle .dif-ref {
    text-align: right;
    margin-top: 10px;
}

.blueTable .tableFootStyle .dif-ref span {
    color: black;
    font-weight: 1;
}

.blueTable .tableFootStyle .summary {
    color: black;
    font-weight: normal;
    margin-top: 10px;
}

.blueTable .tableFootStyle .summary .value {
    margin-top: 4px;
    color: #dc3545;
    font-size: 12px;
}

.blueTable.outerTableFooter {
    border-top: none;
}

.blueTable.outerTableFooter .tableFootStyle {
    padding: 1px 1px;
}

.tableFootStyle > .dif-ref > img {
    position: relative;
    top: 6px;
    width: 10px;
    margin: 5px;
}

.tableFootStyle .summary .item-row > img {
    position: relative;
    width: 10px;
    margin: 5px;
}

.divTable.blueTable .divTableCell img {
    width: 15px;
}

.blueTable .tableFootStyle > .summary {
    text-align: center;
    margin-top: 10px;
}

.blueTable .tableFootStyle > .summary > .item-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}

.nav-div {
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 10px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin-top: 10px;
    margin-bottom: 20px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin-top: 10px;
    margin-bottom: 20px;
}

.import-items-container {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 20px;
}

#uploadForm > p {
    margin-top: 20px;
}

.upload-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.upload-form-item {
    flex: 1 1 calc(16% - 2px);
    margin: 0px;
    background-color: #f0f0f0;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.upload-form-btn {
    margin: 10px auto 10px auto;
}

.upload-form-btn > button {
    width: 200px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#uploadForm > p {
    color: blue;
}