body {
    padding-top: 60px; /* Space for the fixed header */
    padding-bottom: 60px; /* Space for the fixed footer */
}

.title {
    width: 100%;
}

.row {
    width: 100%;
    margin: 0;
}

.fixed-header, .fixed-footer {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1.5rem;
}
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Ensure it sits on top of other elements */
}
.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.course-container {
    max-width: 800px;
    margin: 30px auto; /* Center the container */
}
.course-item {
    margin-bottom: 20px;
}
.card {
    height: 100%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course-header {
    background-color: #1d3557;
    color: white;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.course-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.course-description {
    margin-top: 10px;
}
.course-details {
    margin-top: 10px;
    font-size: 1rem;
}
.course-detail-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    border-radius: 5px;
}
.course-detail-section:nth-child(even) {
    background-color: #e9ecef;
}
.course-detail-header {
    flex-basis: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}
.course-detail-item {
    flex: 1;
    min-width: 100px;
    margin-right: 10px;
}
.course-detail-item:last-child {
    margin-right: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Adjust alignment as needed */
}

.flex-container-column {
    display: flex;
    /* flex-flow: column; */
    flex-direction: column;
    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
}

.flex-container-column > div {
    border-radius: 5px;
    padding: 8px;
}

.flex-container-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;
}

.flex-container-row > div {
    background: #fff;
    border-radius: 5px;
    padding: 8px;
}

.item {
    flex: 1 1 calc(25% - 20px); /* Adjust based on margin/padding */
    margin: 0px; /* Adjust margin between items */
    background-color: #f0f0f0;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.item1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    align-self: auto;
}

.item1 > p {
    padding: 8px;
    margin: 0px;
    min-height: 22px;
}

.item2 {
    flex-grow: 4;
    align-self: auto;
}

.item2 > p {
    padding: 8px;
    margin: 0px;
    min-height: 22px;
}

.item3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: auto;
}

.item4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-grow: 2;
    align-self: auto;
}

div.blueTable {
    background-color: #eeeeee;
    text-align: left;
    border-collapse: collapse;
}
.divTable.blueTable .divTableCell,
.divTable.blueTable .divTableHead {
    border: 1px solid #aaaaaa;
    padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
    font-size: 13px;
}
.divTable.blueTable .divTableRow:nth-child(even) {
    background: #d0e4f5;
}
.divTable.blueTable .divTableHeading {
    background: #1c6ea4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
    background: -webkit-linear-gradient(
            top,
            #5592bb 0%,
            #327cad 66%,
            #1c6ea4 100%
    );
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
    border-bottom: 2px solid #444444;
}
.divTable.blueTable .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    border-left: 2px solid #d0e4f5;
}
.divTable.blueTable .divTableHeading .divTableHead:first-child {
    border-left: none;
}

.blueTable .tableFootStyle {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
.blueTable .tableFootStyle {
    font-size: 14px;
}
.blueTable .tableFootStyle .links {
    text-align: right;
}
.blueTable .tableFootStyle .links a {
    display: inline-block;
    background: #1c6ea4;
    color: #ffffff;
    padding: 2px 8px;
    margin: 3px;
    border-radius: 5px;
}

.blueTable .tableFootStyle .links .active {
    background-color: darkgoldenrod;
}

.blueTable .tableFootStyle .dif-ref {
    text-align: right;
}
.blueTable .tableFootStyle .dif-ref span {
    color: black;
    font-weight: 1;
}

.blueTable.outerTableFooter {
    border-top: none;
}
.blueTable.outerTableFooter .tableFootStyle {
    padding: 1px 1px;
}
.tableFootStyle img {
    width: 15px;
}
.divTable.blueTable .divTableCell img {
    width: 15px;
}
/* DivTable.com */
.divTable {
    display: table;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    display: table-header-group;
}
.divTableCell,
.divTableHead {
    display: table-cell;
}
.divTableHeading {
    display: table-header-group;
}
.divTableFoot {
    display: table-footer-group;
}
.divTableBody {
    display: table-row-group;
}

#file-info {
    margin-top: 20px;
}